{% extends "layout.html" %}

{% block content %}
    <h1>Flights</h1>
    <ul>
        {% for flight in flights %}
            <li>{{ flight.id }} - {{ flight.departure_destination }} to {{ flight.destination }}</li>
            <li>{{flight.plane.model}} - {{flight.pilot.name}}</li>
            {% if is_admin %}
                <form action="/api/delete_flight" method="POST">
                    <input type="hidden" name="flight_id" value="{{ flight.id }}">
                    <button>Delete</button>
                </form>
                <a href="/api/update_flight/{{ flight.id }}">Update</a>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}