{% extends "layout.html" %}

{% block content %}
    <div class="break-out" style="width:50%; height:50%; margin-bottom:10px;">
        <h1 style="color: #ff9800;font-weight:bold;">HOME PAGE!</h1>
        <p>Welcome {{current_user.username}} to the Flight Tracker Application!</p>

        <button style="background-color: #ff9800; padding:10px; border-radius: 5px;">
            <a href="/api/flights" style="color:black; font-weight: bold;">FLIGHTS PAGE</a>
        </button>
        
        <br><br>

        {% if current_user.is_admin%}
    
        <button style="background-color: #ff9800; padding: 10px;  border-radius: 5px;">
            <a href="/api/create_flight" style="color:black; font-weight: bold;">CREATE FLIGHT</a>
        </button>

        {% endif %}
    </div>
    
        
    
    <div class="break-out" style="background-color: #3d2822; margin-bottom:-37px;">
        <h2 style="color:beige;font-weight:bold;">PLANES</h2>
        <div class="lists" style="padding:100px;">
            {% for plane in planes %}
            <div class="cards">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/067/718/311/small/simple-airplane-logo-design-for-travel-and-aviation-themes-png.png" style="width 100%;background-color:beige;">
                <div class="cont">
                    <p>Plane number {{plane.id}}</p>
                    <p>Plane model: {{plane.model}}</p>
                    <p>Plane capacity: {{plane.capacity}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="break-out" style="background-color: #ff9800">
        <h2 style="font-weight:bold;color:#3d2822">PILOTS</h2>
        <div class="lists" style="padding:100px;">
            {% for pilot in pilots %}
            <div class="cards">
                <img src="https://png.pngtree.com/png-vector/20220807/ourmid/pngtree-man-avatar-wearing-gray-suit-png-image_6102786.png" style="width 100%;background-color: #3d2822;">
                <div class="cont" style="margin-top:-5px;">
                    <p>Pilot Name: {{pilot.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <style>
    body{
        background-color: beige;
    }

    .break-out{
        width:100vw;
       
        left:50%;
        right:50%;
        margin-right:-50vw;
        margin-left:-50vw;
        position: relative;
        padding-left: 30px; 
        overflow: auto;   
    }

    .lists{
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cards{
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #d8d8d8;
    }

    /* On mouse-over, add a deeper shadow */
    .cards:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .cont{
        padding: 2px 16px;
        background-color: #f9f7f4;
    }

    
    </style>

{% endblock %}